<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="finished.html" th:action="@{/exam-bonus/login}" method="post">
        <label>メールアドレス：<input type="text" name="email" id="email"></label><br>
        <label>パスワード：<input type="password" name="pass" id="pass"></label><br>
        <button>ログイン</button>
    </form>
</body>
</html>
